~*
.hugo_build.lock
env.ps1
.env

node_modules

/build
/dist
/public
/vendor
/bower_components

ehthumbs.db
Thumbs.db

*.sublime-project
*.sublime-workspace
*.komodoproject
*.code-workspace
.vscode
*.log
*.sql
*.sqlite

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.der
*.key
*.pem

hugo
hugo.exe

# track these files, if they exist
!.editorconfig
!.env.example
!.git-blame-ignore-revs
!.gitignore
!.nvmrc
!.phpcs.xml.dist

# Local Netlify folder
.netlify
