[build]
  command = "hugo -D --minify"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.149.1"

[functions]
  directory = "netlify/functions"
  node_bundler = 'esbuild'

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"

[[redirects]]
  from = "/now"
  to = "/about/"
  status = 301
  force = false

[[redirects]]
  from = "/random"
  to = "/.netlify/functions/random/"
  status = 200
  force = false

[[redirects]]
  from = "/functions/daily"
  to = "/.netlify/functions/daily"
  status = 200
  force = false

[[redirects]]
  from = "/functions/kudos"
  to = "/.netlify/functions/kudos"
  status = 200
  force = false

[[redirects]]
  from = "/functions/math"
  to = "/.netlify/functions/mathml"
  status = 200
  force = false

# Getting a ton of hits to things like this, redirecting.
[[redirects]]
  from = "/https://traeblain.com"
  to = "/"
  status = 301
  force = true

[[redirects]]
  from = "/https://traeblain.com/*"
  to = "/:splat"
  status = 301
  force = true

# [[redirects]]
#   from ='/api/*'
#   to = '/.netlify/functions/api/:splat'
#   status = 200

[[redirects]]
  from = "/*"
  to = "/404/"
  status = 404
  force = false
