{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block endhead %}
{% if SITEMODE == "development" %}
<script type="text/javascript">
  var disqus_developer = 1; // developer mode is on
</script>
{% endif %}
{% endblock %}

{% block main %}
  <article class="{{ SLUG }}">
    <header class="fourteen columns">
      <h1><a href="{{ pagename }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a></h1>
      <time datetime="{{ article.date.isoformat() }}" class="time five columns alpha">{{ article.locale_date }}</time>
      <ul class="tags nine columns omega">
        {% if article.tags %}
        {% for tag in article.tags %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}"><span class="quo">&laquo;</span> {{ tag }} <span class="quo">&raquo;</span></a></li>
        {% endfor %}
        {% endif %}
      </ul>
    </header>

    <div class="article-content fourteen columns">
      {{ article.content }}
    </div>

    {% if DISQUS_SITENAME %}
    <div class="comments fourteen columns">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    {% endif %}

  </article>

{% endblock %}