{% extends "base.html" %}

{% block area %}/blog{% endblock %}

{% block main %}
      {% block listhead %}{% endblock %}
      {% if articles %}
      {% for article in (articles_page.object_list if articles_page else articles) %}
      <article class="post fourteen columns">
        <h1 class="ten columns alpha remove-bottom"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
        <time datetime="{{ article.date.isoformat() }}" class="time four columns omega">{{ article.locale_date }}</time>
        <ul class="row tags fourteen columns">
          {% if article.tags %}
          {% for tag in article.tags %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}"><span class="quo">&laquo;</span> {{ tag }} <span class="quo">&raquo;</span></a></li>
          {% endfor %}
          {% endif %}
        </ul>
      </article>
      {% endfor %}
      {% endif %}
      {% if DEFAULT_PAGINATION %}
      <div class="paginator">
        <span>
        {% if articles_page.has_previous() %}
          {% if articles_page.previous_page_number() == 1 %}
          <a class="prev-page" href="{{ SITEURL }}/" title="Page 1">&laquo;</a>
          {% else %}
          <a class="prev-page" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}" title="Page {{ articles_page.previous_page_number() }}">&laquo;</a>
          {% endif %}
        {% endif %}
        <ul>
          {% for page_number in range(articles_paginator.num_pages) %}
            <li><a class="{% if loop.index == articles_page.number %}current-page{% endif %}" href="{{ SITEURL }}/{% if loop.index != 1 %}{{ page_name }}{{ loop.index }}{% endif %}" title="Page {{ loop.index }}">{{ loop.index }}</a></li>
          {% endfor %}
        </ul>
        {% if articles_page.has_next() %}
          <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}" class="next-page" title="Page {{ articles_page.next_page_number() }}">&raquo;</a>
        {% endif %}
        </span>
      </div>
      {% endif %}
{% endblock %}