{% extends "index.html" %}
{% block title %}{{ tag }} - {{ SITENAME }}{% endblock %}

{% block listhead %}
  <header class="tag-header">
    <h2>Posts tagged with: <em>{{ tag }}</em></h2>
    <br />
  </header>
{% endblock %}

{% block pagination %}
{% if DEFAULT_PAGINATION %}
<ul class="paginator">
  {% if articles_page.has_previous() %}
    {% if articles_page.previous_page_number() == 1 %}
    <li><a class="prev-page" href="{{ SITEURL }}/tags/{{ tag }}{% if not PRODUCTION %}.html{% endif %}" title="Page 1"><i class="icon-left-open"></i></a></li>
    {% else %}
    <li><a class="prev-page" href="{{ SITEURL }}/tags/{{ tag }}{{ articles_page.previous_page_number() }}{% if not PRODUCTION %}.html{% endif %}" title="Page {{ articles_page.previous_page_number() }}"><i class="icon-left-open"></i></a></li>
    {% endif %}
  {% endif %}
  {% for page_number in range(articles_paginator.num_pages) %}
    <li><a class="{% if loop.index == articles_page.number %}current-page{% endif %}" href="{{ SITEURL }}/tags/{{ tag }}{% if loop.index != 1 %}{{ loop.index }}{% endif %}{% if not PRODUCTION %}.html{% endif %}" title="Page {{ loop.index }}">{{ loop.index }}</a></li>
  {% endfor %}
  {% if articles_page.has_next() %}
    <li><a href="{{ SITEURL }}/tags/{{ tag }}{{ articles_page.next_page_number() }}{% if not PRODUCTION %}.html{% endif %}" class="next-page" title="Page {{ articles_page.next_page_number() }}"><i class="icon-right-open"></i></a></li>
  {% endif %}
</ul>
{% endif %}
{% endblock %}
