<footer>
  {{ if ne .Title "Search" }}<a href='#'><svg class="svg"><use xlink:href="#cheers"></use></svg> Kudos</a>{{ end }}
  <a href='#'><label for="share-{{ path.BaseName .File }}"><svg class="svg"><use xlink:href="#shareicon" style="transform: translateX(1ch)"></use></svg> Share</label></a>
  <div class="share-links">
    <input type="checkbox" name="share-{{ path.BaseName .File }}" id="share-{{ path.BaseName .File }}" style="display: none;">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook" target="_blank" rel="noopener"><svg class="svg"><use xlink:href="#facebook"></use></svg></a>
    <a href="https://twitter.com/intent/tweet?{{ (querify "via" "traeblain" "url" .Permalink "text" .Title "source" .Site.BaseURL) | safeURL }}{{ if (and .IsPage .Params.tags) }}&hashtags={{ (delimit .Params.tags ",") | safeURL }}{{ end }}" title="Share on Twitter" target="_blank" rel="noopener"><svg class="svg"><use xlink:href="#twitter"></use></svg></a>
    <a data-src="{{ .Plain }} {{ .Permalink }} via @trae@social.lol"><svg class="svg"><use xlink:href="#mastodon"></use></svg></a>
    <a href='https://www.reddit.com/submit?{{ (querify "url" .Permalink "title" .Title) | safeURL }}' title="Share on Reddit" target="_blank" rel="noopener"><svg class="svg"><use xlink:href="#reddit"></use></svg></a>
    <a href="http://www.linkedin.com/shareArticle?{{ (querify "url" .Permalink "title" .Title "source" .Site.BaseURL "mini" "true") | safeURL }}" title="Share on LinkedIn" target="_blank" rel="noopener"><svg class="svg"><use xlink:href="#linkedin"></use></svg></a>
    <a href='mailto:?{{ (querify "body" .Permalink "subject" .Title) | safeURL }}' title="Send email" target="_blank" rel="noopener"><svg class="svg"><use xlink:href="#emailenvelope"></use></svg></a>
  </div>
  <hr class="separator">
</footer>