<footer>
  <div>
    <img class="cc-footer" src="https://res.cloudinary.com/dixwznarl/image/upload/tbcom/by.svg" title="CC-BY-4.0: Creative Commons Attribution 4.0" alt="CC-BY-4.0: Creative Commons Attribution 4.0">
    {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a> | <a href="https://creativecommons.org/licenses/by/4.0/">Some Rights Reserved</a>
  </div>
  <div>
    <a href="/index.xml">RSS</a> <a href="/index.json">JSON</a> <a style="color:black;" href="/random/">🎲</a> | <a href="https://xn--sr8hvo.ws/%F0%9F%95%B9%F0%9F%8C%BB%E2%9B%85%EF%B8%8F/previous" style="transform: rotate(-180deg);display: inline-block;" title="Web Ring Previous">➜</a> <a style="color:black;" href="https://xn--sr8hvo.ws" title="Indie Web Ring">🕸💍</a> <a href="https://xn--sr8hvo.ws/%F0%9F%95%B9%F0%9F%8C%BB%E2%9B%85%EF%B8%8F/next" title="Web Ring Next">➜</a>
  </div>
</footer>
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
{{ if .Params.background }}
<div class="img-modal">
  <img src="{{ .Params.background }}" />
  <label>
    <input type="checkbox" name="imgModal" id="imgModal" style="display: none;"/>
  </label>
</div>
{{ end }}
