<nav class="mainmenu">
  <ul>
    <li class="navlogo">
      <a href="/">
        <svg class='svg'><use xlink:href='#monogram'></use></svg><span>Trae Blain</span>
      </a>
    </li>
    <li class="hamburger"><label for="mobileMenuToggle">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </li>
    <ul class="mobile-menu">
      <input style="display: none;" type="checkbox" name="mobileMenuToggle" id="mobileMenuToggle">
    {{ $currentPage := . -}}
    {{ range .Site.Menus.main -}}
      {{ if .HasChildren -}}
        <li class="parent-menu {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
          <a href="#">
            <label for="menu-{{ .Identifier }}" style="cursor: pointer;">{{ .Name }}</label>
          </a>
          <input type="checkbox" name="menu-{{ .Identifier }}" id="menu-{{ .Identifier }}" style="display: none;">
          <ul class="sub-menu">
            {{ range .Children -}}
              <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL }}" title="{{ .Name }}" target="_blank" rel="me">{{ .Pre }}</a>
              </li>
            {{ end -}}
          </ul>
        </li>
      {{ else -}}
        <li class='
          {{- if in $currentPage.Permalink .Identifier -}}active{{- end -}}
          '>
          <a href="{{ .URL }}">
            <span>{{ .Name }}</span>
          </a>
        </li>
      {{ end -}}
    {{ end -}}
    </ul>
    <li class="dark-toggle">
      <input style="display: none;" type="checkbox" name="darkToggle" id="darkToggle">
      <label for="darkToggle"></label>
      <span></span>
    </li>
    <li class="navsearch">
      <label for="searchToggle"><span title="Search" onclick="document.getElementById('searchInput').focus()"><svg class='svg'><use xlink:href='#search'></use></svg></span></label>
      <input style="display: none;" type="checkbox" name="searchToggle" id="searchToggle">
      <form action="/search" method="get">
        <input type="text" name="search" id="searchInput" placeholder="Search..."/>
        <label for="searchToggle"><span title="Clear Search">&#10539;</span></label>
      </form>
    </li>
  </ul>
</nav>