{{- $place := (.Scratch.Get "is-section") -}}
{{ if $place -}}
{{ .Scratch.Set "title" (.Summary | safeHTML | truncate 50) -}}
{{ if .Title }}{{ .Scratch.Set "title" .Title }}{{ end -}}
<h3>🔗 {{ else }}<h1>🔗 {{ end }} 
  <a href="{{ .Params.source }}">{{ .Scratch.Get "title" }}</a>
{{ if $place }}</h3>{{ else }}</h1>{{ end }}

{{ if $place }}{{ $rawcontent := print (chomp .RawContent) " [#](" .Permalink ")" -}}
<p>{{ .RenderString $rawcontent }}</p>
{{ else }}{{ .Content }}{{ end }}
{{ partial "endofarticle.html" . }}