<script type="text/javascript">
  const changeHeaderHeight = () => {
    let nav = document.querySelector("nav")
    this.scrollY > 3 ? nav.classList.add('scrolled') : nav.classList.remove('scrolled')
    {{ if .IsHome -}}
    let block = document.querySelector("article.home blockquote")
    this.scrollY > 60 ? block.classList.add('scrolled') : block.classList.remove('scrolled')
    {{ end -}}
  }
  window.addEventListener("scroll", changeHeaderHeight, false)

  const mastShare = (target) => {
    console.log(target)
    let src = target.getAttribute("data-src")
    let domain = prompt("Enter your Mastodon location", "social.lol")
    if (domain.trim() == "" || domain == null) {
      return;
    }
    url = "https://" + domain.trim() + "/share?text=" + src
    window.open(url, '_blank')
  }

  var headers = {
    method: 'post',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    }
  }

  function kudos(page, el) {
    fetch('/functions/kudos?key=7f2ababa423061c509f4923dd04b6cf1&url=' + page, { method: 'post' })
    .then((resp) => { resp.text() })
    .then((text) => {
      console.log(text)
      {{/*  if (text.substring(0, 3) === "200" || text.substring(0, 3) === "201") {
        el.getElementsByName('svg')[0].classList.add('animate')
      }  */}}
    }).catch( error => {
      console.error(error)
    })
  }  
</script>

{{- if .Site.Params.goat }}
<script
  data-goatcounter="https://{{ .Site.Params.goat }}.goatcounter.com/count"
  async
  src="//gc.zgo.at/count.js"
></script>
<noscript>
  <img
    src="https://{{ .Site.Params.goat }}.goatcounter.com/count?p={{ .Page.Permalink }}"
    alt="Goat Counter Check"
  />
</noscript>
{{- end -}}
