<script type="text/javascript">
  const changeHeaderHeight = () => {
    let nav = document.querySelector("nav")
    this.scrollY > 3 ? nav.classList.add('scrolled') : nav.classList.remove('scrolled')
    {{ if .IsHome -}}
    let block = document.querySelector("article.home blockquote")
    this.scrollY > 60 ? block.classList.add('scrolled') : block.classList.remove('scrolled')
    {{ end -}}
  }
  window.addEventListener("scroll", changeHeaderHeight, false)

  const darkSwitch = document.getElementById("darkToggle")
  darkSwitch.addEventListener("change", () => {
    if (darkSwitch.checked) {
      localStorage.setItem("darkToggle", "on")
    } else {
      localStorage.setItem("darkToggle", "off")
    }
  })
  if (localStorage.getItem("darkToggle") == "on") {
    darkSwitch.checked = true
  }

  const mastShare = (target) => {
    console.log(target)
    let src = target.getAttribute("data-src")
    let domain = prompt("Enter your Mastodon location", "social.lol")
    if (domain.trim() == "" || domain == null) {
      return;
    }
    url = "https://" + domain.trim() + "/share?text=" + src
    window.open(url, '_blank')
  }

  const headers = {
    method: 'post',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    }
  }

  function kudos(page, el) {
    fetch('/functions/kudos?key=7f2ababa423061c509f4923dd04b6cf1&url=' + page, { method: 'post' })
    .then(resp => {
      if (resp.status === 200 || resp.status === 201) {
        el.querySelector('svg.cheers').classList.add('animate')
        return resp.text()
      }
        throw new Error(resp.text())
    })
    .then(console.log)
    .catch(console.error)
  }
</script>

{{- if .Site.Params.goat }}
<script
  data-goatcounter="https://{{ .Site.Params.goat }}.goatcounter.com/count"
  async
  src="//gc.zgo.at/count.js"
></script>
<noscript>
  <img
    src="https://{{ .Site.Params.goat }}.goatcounter.com/count?p={{ .Page.Permalink }}"
    alt="Goat Counter Check"
  />
</noscript>
{{- end -}}
