{{ define "main" }}
<article class="single {{ .Title | anchorize }}">
  {{- if (eq .Type "image") }}
    {{ partial "imagepost.html" . }}
  {{- else if (eq .Type "link") }}
    {{ partial "linkpost.html" . }}
  {{- else if (eq .Type "quote") }}
    {{ partial "quotepost.html" . }}
  {{- else if (eq .Type "status") }}
    {{ partial "statuspost.html" . }}
  {{- else if (eq .Type "video") }}
    {{ partial "videopost.html" . }}
  {{ else }}
    {{ partial "blogsingle.html" . }}
  {{ end -}}
</article>
{{ end }}
