<ul class="link-list">
  {{- range first 4 (where .Site.Pages "Type" "=" "link") -}}
  {{- .Scratch.Set "title" (.Summary | safeHTML | truncate 50) -}}
  {{- if .Title }}{{ .Scratch.Set "title" .Title }}{{ end -}}
  {{- $t := .Scratch.Get "title" -}}
  <li class="link-item">
    <table>
      <tr>
        <td>{{ if .Params.images }}<a href="{{ .Params.source }}" title="{{ $t }}"><img src="{{ index .Params.images 0}}" alt="{{ $t }}"/></a>{{ else }}🔗{{ end }}</td>
        <td><strong><a href="{{ .Params.source }}" title="{{ $t }}">
          {{ $t }}
        </a></strong> |&nbsp;<a href="{{ .Permalink }}" title="Local Permalink" alt="Local Permalink">#</a></td>
      </tr>
      <tr>
        <td colspan="2">{{ .Content }}</td>
      </tr>
    </table>
  </li>
{{ end -}}
</ul>