/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
  #Site Styles
  #Page Styles
  #Media Queries
  #Font-Face */

/* #Site Styles
================================================== */

body {
  background-color: #161C25;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
}

a, a:visited {
  color: #3c5e73;
  text-decoration: none;
}

a:hover {
  color: #D7D05B;
}

.container {
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, .main_head, .topnav {
  font-family: 'Ubuntu', sans-serif;
  color: #3c5e73;
}

h1 {
  font-size: 48px;
  border-bottom: 1px dashed #AAA;
}

h2 {
  font-size: 42px;
  border-bottom: 1px dashed #AAA;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 26px;
}

h5, h6 {
  font-size: 24px;
  border-bottom: 1px dashed #AAA;
  border-left: 1px dashed #AAA;
  padding: 5px;
  margin-bottom: 10px;
}

.topnav, .mobilenav {
  background-color: #000000;
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  position: fixed;

}

.topnav li {
  margin-bottom: 5px;
}

.title_head {
  font-size: 20px;
}

.menu_title a {
  text-transform: uppercase;
  color: #3C5E73;
}

.menu_title a span {
  color: #D7D05B;
  font-weight: bold;
}

#searchbox input {
  margin-bottom: 0;
}

#searchtext, #searchbutton {
  float: left;
  padding: 0;
  background-color: #000;
  border: 0;
  border-bottom: 2px solid #3C5E73;
  border-radius: 0;
  color: #CCC;
}

.half-border {
  float: left;
  height: 9px;
  margin-top: 11px;
  border: 1px solid #3C5E73;
}

#searchtext {
  width: 65%;
  height: 20px;
  text-indent: 4px;
}

#searchbutton {
  border: 0;
  background-image: url('/theme/images/icons-20.png');
  background-position: 5px 0;
  background-repeat: none;
  width: 30px;
  text-indent: -9999px;
  height: 20px;
}

#searchbutton:hover {
  background-position: 5px 20px;
}

.tophead {
  margin-top: 80px;
  margin-bottom: 35px;
}

.main_head a {
  font-size: 55px;
  text-transform: uppercase;
}

.main_head a:hover {
  color: #3c5e73;
}

.main_head a span {
  font-weight: bold;
  color: #D7D05B;
}

.sub_head {
  color: #AAA;
  text-transform: uppercase;
  font-size: 14px;
}

.tags li {
  display: inline-block;
  float: right;
  margin: 0 5px;
}

.article-content p img {
  display: block;
  text-align: center;
  margin: 5px auto;
}
.article-content p img.alignleft {
  margin: 5px 10px 5px 0;
  float: left;
}
.article-content p img.alignright {
  margin: 5px 0 5px 10px;
  float: right;
}
.article-content p {
  text-align: justify;
  padding-left: 3px;
  padding-right: 3px;
}
.article-content ul {
  list-style-type: disc;
  list-style-image: inherit;
  list-style-position: outside;
  margin-left: 25px;
}

code, pre {
  background-color: #eed;
  font-family: Consolas, 'Courier New', Courier;
  font-size: 14px;
  line-height: 14px;
  padding: 1px 4px;
  border: 1px solid #161C25;
  border-radius: 3px;
}

code {
  white-space: nowrap;
}

pre {
  width: 90%;
  display: block;
  margin: 0px auto 15px;
  border: 1px solid #161C25;
  padding: 5px;
  background-color: #EED;
  overflow: auto;
}

pre ::-webkit-scrollbar {
  width: 13px;
  height: 13px;
  background-color: #161C25;
}

pre ::-webkit-scrollbar-thumb {
  background-color: #3C5E73;
}

pre ::-webkit-scrollbar-thumb:active {
  background-color: #D7D05B;
}

iframe {
  display: block;
  margin: 15px auto;
}

.post h1 {
  border-bottom: 0;
  font-size: 28px;
  line-height: 30px;
}
.post time {
  text-align: right;
}
.post .tags {
  font-size: 14px;
  line-height: 14px;
}

.clear {
  clear: both;
}

.paginator {
  text-align: center;
  display: block;
}
.paginator span {
  text-align: center;
  margin: 0px auto;
  display: inline-block;
}
.paginator ul {
  list-style: none;
  float: left;
  padding: 3px 0 3px 3px;
  border: 3px solid #3C5E73;
  border-radius: 12px;
  margin-top: 7px;
}
.paginator ul li {
  float: left;
  margin-bottom: 0;
  border: 0;
}
.paginator li a {
  float: left;
  width: 8px;
  height: 8px;
  line-height: 8px;
  margin-right: 3px;
  text-indent: -9999px;
  background-color: #3C5E73;
  border-radius: 5px;
}
.paginator li a.current-page, .paginator li a:hover {
  background-color: #D7D05B;
}
.paginator .prev-page, .paginator .next-page {
  float: left;
  margin: 0px 4px;
  font-size: 28px;
  line-height: 28px;
}

footer {
  font-size: 12px;
  line-height: 8px;
  border-top: 3px double #161C25;
  width: 100%;
}

footer span {
  font-size: 8px;
  padding-left: 10px;
}

.footer-span {
  width: 90%;
  display: block;
  padding: 15px 0px;
  margin: 0 auto;
}

#dsq-content {
  padding: 0px 5px;
}

.mobilenav {
  display: none;
}
.menu_link {
  height: 20px;
  width: 20px;
  text-indent: -9999px;
  display: block;
  background-image: url('/theme/images/icons-20.png');
  background-position: 20px 0;
  background-repeat: none;
  margin-top: -2px;
}
a.menu_link:hover {
  background-position: 20px 20px;
}

.a2a_kit {
  display: block;
  width: 285px;
  position: fixed;
  background-color: #ffffff;
  padding: 7px;
  border: 2px solid #3C5E73;
  border-bottom: 0;
  bottom: 0;
  left: 50%;
  z-index: 1000;
  border-radius: 8px 8px 0 0;
  margin-left: -152px;
}
.a2a_button_facebook_like iframe, .a2a_button_twitter_tweet iframe {
  margin: 0px;
}
.a2a_button_facebook_like, .a2a_button_twitter_tweet, .a2a_button_google_plusone {
  max-width: 90px !important;
}


/* #Page Styles
================================================== */

  /* 404 Page === */
  .fof {
    width: 95%;
    margin: 0px auto;
  }
  .ninja {
    float: left;
    display: block;
    margin: 0px 20px 20px 0px;
  }
  .fohf {
    font-size:160px;
    line-height:272px;
    font-weight:bold;
    text-align:center;
    display:block;
  }
  .pnf{
    font-size:32px;
    line-height:48px;
    text-align:center;
    display:block;
  }
  .fofabout{
    clear:left;
    font-size:19.2px;
    text-align:center;
  }
  .foflinks{
    text-align:center;
    margin-top:25px;
    font-size:12.8px;
    margin-bottom:75px;
  }

  /* Mountain Dew Page === */
  .dtdew, .loader {
    margin: 0px auto;
    display: block;
  }
  #commits {
    margin-bottom: 30px;
  }

  /* Pretzels Page === */
  .pretzelpic {
    margin: 0px auto;
    display: block;
  }

  /* Search Page === */
  article.search a, article.search a:visited {
    color: #3c5e73 !important;
  }
  article.search a:hover {
    color: #D7D05B !important;
  }
  .gsc-url-bottom div {
    color: #AAA !important;
  }

/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
    .mobilenav {
      display: none;
    }
    .topnav {
      top: 0px;
    }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .topnav {
      font-size: 15px;
      word-spacing: -3px;
      top: 0px;
    }
    .mobilenav {
      display: none;
    }
    img, iframe, iframe embed, iframe object {
      max-width: 650px;
      height: auto;
    }
    iframe, iframe embed, iframe object {
      min-height: 335px;
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {}

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .menu_title {
      opacity: 1 !important;
      text-align: left;
      text-indent: 10px;
    }
    .mobilenav {
      display: block;
      width: 100%;
      max-width: 420px;
      padding-top: 5px;
    }
    .mobilenav .eighty {        
      width: 80%;
      display: inline-block;
      float: left;
      margin-bottom: 5px;
    }
    .mobilenav .twenty {
      width: 20%;
      display: inline-block;
      float: left;
      margin-bottom: 5px;
    }
    .topnav {
      text-align: right;
      top: -160px;
    }
    .topnavdrop {
      top: 0px;
    }
    .topnav li a {
      padding-right: 10px;
    }
    .topnav li {
      padding-bottom: 5px;
    }
    .tophead {
      margin-top: -5px !important;
      text-indent: 5px;
    }
    #searchbox {
      padding-bottom: 10px;
      width: 80%;
      float: right;
      margin-bottom: 0;
    }
    img, iframe, iframe embed, iframe object {
      max-width: 414px;
      height: auto;
    }
    iframe, iframe embed, iframe object {
      min-height: 285px;
    }
    .topnav ul {
      max-width: 420px;
    }
    h1 {
      font-size: 28px;
      line-height: 28px;
    }
    h2 {
      font-size: 24px;
      line-height: 24px;
    }
    h3 {
      font-size: 20px;
      line-height: 20px;
    }
    h4, h5, h6 {
      font-size: 18px;
      line-height: 18px;
    }
    .ninja {
      width: 40%;
    }
    .fohf {
      font-size: 70px;
      line-height: 100px;
      padding-top: 30px;
    }
    .pnf {
      font-size: 32px;
    }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .menu_title {
      opacity: 1 !important;
      text-align: left;
      text-indent: 10px;
    }
    .mobilenav {
      display: block;
      width: 100%;
      max-width: 300px;
      padding-top: 5px;
    }
    .mobilenav .eighty {        
      width: 80%;
      display: inline-block;
      float: left;
      margin-bottom: 5px;
    }
    .mobilenav .twenty {
      width: 20%;
      display: inline-block;
      float: left;
      margin-bottom: 5px;
    }
    .topnav {
      text-align: right;
      top: -160px;
    }
    .topnavdrop {
      top: 0px;
    }
    .topnav li a {
      padding-right: 10px;
    }
    .topnav li {
      padding-bottom: 5px;
    }
    .tophead {
      margin-top: -40px !important;
      text-indent: 5px;
    }
    .sub_head {
      font-size: 12px;
      word-spacing: -4px;
    }
    #searchbox {
      padding-bottom: 10px;
      width: 80%;
      float: right;
      margin-bottom: 0;
    }
    img, iframe, iframe embed, iframe object {
      max-width: 294px;
      height: auto;
    }
    iframe, iframe embed, iframe object {
      min-height: 215px;
    }
    .topnav ul {
      max-width: 300px;
    }
    h1 {
      font-size: 28px;
      line-height: 28px;
    }
    h2 {
      font-size: 24px;
      line-height: 24px;
    }
    h3 {
      font-size: 20px;
      line-height: 20px;
    }
    h4, h5, h6 {
      font-size: 18px;
      line-height: 18px;
    }
    .ninja {
      width: 40%;
    }
    .fohf {
      font-size: 70px;
      line-height: 100px;
      padding-top: 30px;
    }
    .pnf {
      font-size: 32px;
      clear: left;
    }
       
  }


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/