{% extends "base.html" %}

{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block main %}
  <ul class="article-list">
  {% for article in dates %}
    <li class="article-list-item"><article class="article">
      <header class="article-header">
        <h1 class="article-title"><a href="{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}" class="article-link">{{ article.title }}</a></h1>
        <time datetime="{{ article.date.isoformat() }}" class="article-date">{{ article.locale_date }}</time>
      </header>
    </article></li>
  {% endfor %}
  </ul>
  <br /><br /><br /><br /><br /><br />

{% endblock %}