{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block endhead %}
<script type="text/javascript">
  {% if not PRODUCTION %}
  var disqus_developer = 1; // developer mode is on
  {% endif %}
  {% if article.date.strftime('%Y%m')|int() <= 201111 %}
  var disqus_url = '{{ SITEURL }}/{{ article.date.strftime('%Y%m%d')}}/{{ article.slug }}/';
  {% endif %}
</script>
{% endblock %}

{% block main %}
  <article class="article post {{ article.slug }}">
    <header class="article-header">
      <h1 class="article-title"><a href="{{ pagename }}" rel="bookmark" title="Permalink to {{ article.title }}" class="article-link">{{ article.title }}</a></h1>
      <time datetime="{{ article.date.isoformat() }}" class="article-date">{{ article.locale_date }}</time>
    </header>
    <ul class="article-tags">
      {% if article.tags -%}{% for tag in article.tags %}
      <li><a href="{{ SITEURL }}/{{ tag.url }}"><span class="quo">&laquo;</span> {{ tag }} <span class="quo">&raquo;</span></a></li>
      {% endfor %}{%- endif %}
    </ul>

    <div class="article-body">
      {{ article.content }}
    </div>

    {% if DISQUS_SITENAME %}
    <div class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    {% endif %}
  </article>

{% endblock %}

{% block morescripts %}{% endblock %}