<!-- Favorite Sports -->
{{ $t := $.Site.Data.favoriteteams }}
<div class="sport-item">
  {{- range $t.Sports }}
  <h4 class="sport">{{ .sport | title }}</h4>
  {{ range .info }}
  <div class="fr">
    <div>
      <div class="fr sport-detail">
        <div><a href="{{ .link }}" target="_blaink" rel="noopener">{{ .favorite }}</a></div>
        <div>{{ .league | title }}</div>
      </div>
      <div class="fr">
        <p><small>{{ .comment | markdownify }}</small></p>
      </div>
    </div>
    <div><img src="{{ .image }}" alt="{{ .favorite }}"></div>
  </div>
  {{- end }}{{ end -}}
</div>

<div>
<em>Updated: {{ dateFormat "Monday - January 2, 2006" $t.Modified }}</em>
</div>

<style>
  .sport-item .fr {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
  }
  .sport-item img {
    vertical-align: middle;
    max-height: 300px;
  }
  .sport-item .fr > div:last-child {
    min-width: 300px;
    text-align: center;
  }
  .sport-item > .fr {
    margin-bottom: 2em;
  }
  .sport-detail {
    padding: 2em 0;
  }
  /*  .flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    border-bottom: 2px solid #555;
  }
  .flexrow div {
    flex: 1 100%;
    padding: 1.25rem 1rem;
    /* flex-grow: 1; */
    /* text-align: center; */
  /*  }
  div.upper {
    flex: 1 275%;
  }
  .upper div.flexrow {
    border: 0;
  }
  .title {
    font-weight: 800;
  }
  .sport {
    background: #8c8c8c;
    text-indent: 1rem;
  }
  .updated {
    color: #555;
  }
  .sportimage{
    text-align: center;
  }  */
  @media only screen and (max-device-width: 720px) {
    .sport-item > .fr {
      flex-direction: column-reverse;
    }
    .sport-item > .fr {
      
    }
</style>