{{ $gh := 
  resources.GetRemote "https://api.github.com/graphql" 
  (dict 
    "method" "post"
    "body" `{ "query": "query { user(login: \"traeblain\") {name email url createdAt avatarUrl following { totalCount } repositoriesContributedTo(includeUserRepositories: true) { totalCount } contributionsCollection { contributionCalendar { totalContributions weeks { contributionDays { weekday date contributionCount color }} months  { name year firstDay totalWeeks }}}}}" }`
    "headers" (dict 
      "Authorization" (print "Bearer " $.Site.Params.githubtoken) 
      "Accept" "application/json"
    )
    "key" (now.Format "2006-01-02")
  ) | transform.Unmarshal 
}}
{{ $colors := (split (default "#ebedf0 #9be9a8 #40c463 #30a14e #216e39" (.Get "colors")) " ") }}

<div class="github-stats">
<svg class="github-calendar" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" viewBox="0 0 1280 225">
  <rect width="1280" height="225" x="0" y="0" id="0" fill="none" fill-opacity="1" /> 
{{- $weeks := $gh.data.user.contributionsCollection.contributionCalendar.weeks }}
{{- $mos := $gh.data.user.contributionsCollection.contributionCalendar.months }}
{{- $.Scratch.Set "longStreak" 0 -}}{{- $.Scratch.Set "currentStreak" 0 -}}{{- $.Scratch.Set "bestDay" 0 -}}
{{- range $index, $week := $weeks }}
  {{- range $jindex, $day := $week.contributionDays }}
  {{- $transX := add 8 (mul 23.96 $index) }}
  {{- $transY := add 31.7143 (mul 23.4286 $jindex ) }}
  {{- $color := cond (lt $day.contributionCount 1) (index $colors 0) (
    cond (and (gt $day.contributionCount 0) (le $day.contributionCount 3)) (index $colors 1) (
      cond (and (gt $day.contributionCount 3) (le $day.contributionCount 7)) (index $colors 2) (
        cond (and (gt $day.contributionCount 7) (le $day.contributionCount 12)) (index $colors 3) (
          index $colors 4
        )
      )
    )
  ) }}
  <rect width="19" height="19" x="{{ $transX }}" y="{{ $transY }}" rx="4" ry="4" fill="{{$color}}" data-tip='{{$day.contributionCount}} commit{{ cond (gt $day.contributionCount 1) "s" "" }} on {{ $day.date | time.Format ":date_full" }}'>{{$day.contributionCount}} commit{{ cond (gt $day.contributionCount 1) "s" "" }} on {{ $day.date | time.Format ":date_full" }}</rect>
  {{ $.Scratch.Set "currentStreak" (cond (lt $day.contributionCount 1) 0 ((add ($.Scratch.Get "currentStreak") 1))) }}
  {{ $.Scratch.Set "longStreak" (math.Max ($.Scratch.Get "longStreak") ($.Scratch.Get "currentStreak")) }}
  {{ $.Scratch.Set "bestDay" (math.Max ($.Scratch.Get "bestDay") $day.contributionCount) }}
  {{- end }}
{{ end }}
{{ $.Scratch.Set "padding" 8 }}
{{- range $moidx, $mo := $mos }}
  {{- $textX := $.Scratch.Get "padding" }}
  <text height="20" width="100" x="{{ $textX }}" y="8" dominant-baseline="hanging">{{ $mo.name }}</text>
  {{- $.Scratch.Set "padding" (add $textX (mul 23.96 $mo.totalWeeks)) }}
{{- end }}
  <g transform="translate(1038, 198)">
    <text x="0" y="2" dominant-baseline="hanging">Less</text>
    <rect width="19" height="19" x="48" y="0" rx="4" ry="4" fill="{{ index $colors 0 }}"></rect>
    <rect width="19" height="19" x="72" y="0" rx="4" ry="4" fill="{{ index $colors 1 }}"></rect>
    <rect width="19" height="19" x="96" y="0" rx="4" ry="4" fill="{{ index $colors 2 }}"></rect>
    <rect width="19" height="19" x="120" y="0" rx="4" ry="4" fill="{{ index $colors 3 }}"></rect>
    <rect width="19" height="19" x="144" y="0" rx="4" ry="4" fill="{{ index $colors 4 }}"></rect>
    <text x="168" y="2" dominant-baseline="hanging">More</text>
  </g>
</svg>
<div>
  <div>Commits</div>
  <div>Total<span>{{ $gh.data.user.contributionsCollection.contributionCalendar.totalContributions }}</span></div>
  <div>Cur. Streak<span>{{ $.Scratch.Get "currentStreak" }}</span></div>
  <div>Long Streak<span>{{ $.Scratch.Get "longStreak" }}</span></div>
  <div>Best Day<span>{{ $.Scratch.Get "bestDay" }}</span></div>
</div>
<div>
  <a href="{{ $gh.data.user.url }}"><img src="{{ $gh.data.user.avatarUrl }}" alt=""/></a>
  {{- $yearDiff := now.Sub (time $gh.data.user.createdAt ) }}
  <div>
    <span class="ghuser"><a href="{{ $gh.data.user.url }}">{{ $gh.data.user.name }}</a></span>
    <span class="ghcreated">Joined {{ math.Floor (div $yearDiff.Hours 8765.82) }} Years Ago</span>
  </div>
</div>
<div>
  <div>Other Repos</div>
  <div><a href="https://codeberg.org/trae"><svg class='svg'><use xlink:href='#codeberg'></use></svg></a></div>
  <div><a href="https://bitbucket.org/traeblain/"><svg class='svg'><use xlink:href='#bitbucket'></use></svg></a></div>
</div>
</div>