{{ $words := slice "Nothing..." "Utter Rubbish...Seriously...Bad" "Terrible, comically terrible..." "Bad, with some redeaming qualities" "Poor, but some people might like it" "Meh, depends on my mood" "Decent..." "Good and worth the time" "Great!" "Objectively Superb!!" "Utterly Amazing! So much love..." }}
{{ $decimal := index (seq 3 6 | shuffle) 0 }}
<div
  class="align-center"
  title="{{ index $words (index .Params 0) }}"
  style="cursor: initial;"
>
  <svg
    width="2000"
    height="400"
    version="1.1"
    viewBox="0 0 529.17 105.83"
    xmlns="http://www.w3.org/2000/svg"
    style="height: auto; z-index: 1;"
  >
    <defs>
      <clipPath id="ratingImageClipping{{ index .Params 0 }}">
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="67.066"
          y="5.2085"
          width="{{ mul (index .Params 0) 43 }}"
          height="100.08"
          ry="0"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <animate
            id="ratingImageClippingAnimate{{ index .Params 0 }}"
            attributeName="width"
            from="0"
            to="{{ mul (index .Params 0) 43 }}"
            dur="{{ $decimal }}s"
            begin="1s;ratingImageClippingAnimate{{ index .Params 0 }}.end+4s"
            repeatCount="1"
          />
        </rect>
      </clipPath>
    </defs>
    <g>
      <g
        fill="#eee"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.6264"
      >
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="67.066"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="110.48"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="153.89"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="197.31"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="240.72"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="284.13"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="327.54"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="370.96"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="414.37"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="457.78"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
      </g>
    </g>
    <g>
      <g letter-spacing="0px" word-spacing="0px">
        <text>
          <tspan x="506" y="63">
            <tspan
              font-size="38.806px"
              text-align="center"
              text-anchor="middle"
              id="ratingImageValue"
              style="
                line-height: 1.25;
                font-family: var(--font-family-headline);
                fill: var(--text-color);
              "
            >
              {{- index .Params 0 -}}
            </tspan>
          </tspan>
        </text>
        <text
          font-size="10.583px"
          text-align="center"
          style="line-height: 1.25; white-space: pre;"
          xml:space="preserve"
        />
        <text>
          <tspan x="506" y="101">
            <tspan
              font-size="38.806px"
              text-align="center"
              text-anchor="middle"
              style="
                line-height: 1.25;
                font-family: var(--font-family-headline);
                fill: var(--text-color);
              "
            >
              10
            </tspan>
          </tspan>
        </text>
      </g>
      <rect
        x="489.82"
        y="66.651"
        width="32.76"
        height="3.389"
        ry="1.6945"
        style="fill: var(--text-color);"
      />
      <text
        transform="rotate(-73.1 309.24 437.29)"
        x="32.164368"
        font-size="33.867px"
        letter-spacing="0px"
        text-align="center"
        word-spacing="0px"
        style="
          line-height: 0.95;
          font-family: var(--font-family-headline);
          fill: var(--text-color);
        "
        xml:space="preserve"
      >
        <tspan x="465" y="75">
          <tspan
            font-size="33.867px"
            text-align="center"
            text-anchor="middle"
            id="ratingImageTitle"
          >
            RATING
          </tspan>
        </tspan>
      </text>
    </g>
    <g>
      <g
        clip-path="url(#ratingImageClipping{{ index .Params 0 }})"
        fill="#5e81ac"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.6264"
      >
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="67.066"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="110.48"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="153.89"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="197.31"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="240.72"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="284.13"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="327.54"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="370.96"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="414.37"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
        <rect
          transform="matrix(1 0 -.28742 .9578 0 0)"
          x="457.78"
          y="5.2085"
          width="38.695"
          height="100.08"
          ry="6.0464"
        />
      </g>
    </g>
  </svg>
  <br /><br />
</div>
